@import "tailwindcss";
@utility perspective {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}
